@mixin item {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

@mixin menuItem {
  @include item;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
