@import "./base";

.menuItem {
  @include menuItem;
  padding: 0 40px;

  &.isChecked {
    padding: 0 16px;
    padding-left: 10px;

    > :first-child {
      // icon
      margin-right: 12px;
    }
  }
}
