@import "./base";

.root {
  width: fit-content;
  margin-left: auto;
  background-color: rgba(28, 28, 28, 0.9);
  padding: 8px 0;
  color: white;
  width: 251px;
  max-height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .menuHeading {
    @include item;
    color: inherit;
    border: none;
    padding: 0 8px;
    border-bottom: 1px solid rgb(70, 69, 69);

    > :first-child {
      // icon
      margin-right: 8px;
    }
  }

  .settingsItem {
    @include menuItem;
    padding: 0 40px;

    &.isChecked {
      padding: 0 16px;

      > :first-child {
        // icon
        margin-right: 8px;
      }
    }
  }
}
