@import "./base";

.root {
  width: fit-content;
  margin-left: auto;
  background-color: rgba(28, 28, 28, 0.9);
  padding: 8px 0;
  color: white;
  width: 251px;
  max-height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
